<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Yalnız debug: tanıtım ekran görüntüleri için örnek veri. -->
        <activity
            android:name=".TanitimVerisiActivity"
            android:exported="true" />
    </application>
</manifest>
