<?xml version="1.0" encoding="utf-8"?>
<!-- Yalnızca debug derlemesi: widget'ları emülatörde adb ile eklemek için. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".WidgetTestActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />
    </application>
</manifest>
